:root {
  --color-background:#F3F3F3;
  --color-background-nav:#2B3D50;
  --color-background-home:#344960;
  --color-text-light:#EDEDED;
  --color-text-title:#FF5555;
  --color-text-dark:#3D3D3D;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html, body{
	background-color: var(--color-background);
}

a{
	text-decoration: none;
	transition: 0,2s opacity;
}

h2 {
	font-weight: bold;
}

#conteudo-home {
	margin-top: 10%;
}

#conteudo {
	margin-top: 5%;
}

footer {
	background-color: #343a40;
	text-align: center;
	position:absolute; 
	bottom:0;
	width: 100%;
	color: white;
}

#hepta{
	margin-top: 10%;
}